body {
    margin: 0px 19px;
    -webkit-font-smoothing:none;
    font-family:Arial,Helvetica,sans-serif;
    text-rendering: optimizeSpeed;
}

a {
    color: #00e;
}

/* Заголовок проектов */  
h2 {
  font-size:36px;
  margin:.8em 0;
}

h1 {
    font-size:48px;
    line-height:40px;
    margin:34px 0
}

/* Подчеркивание ссылок */ 
a h3 {
    text-decoration: underline;
}


/* МЕНЮ */ 
/* Отступ сверху */ 
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

/* Расположение в одну строку */
nav ul {
    list-style:none;
    padding:0;
    display:flex
}

/* Отступ с боков */
nav li {
    display:inline-block;
    padding:0;
    display:flex
}

/* Знак стрелочки и его отступы */
nav li:after { 
    content:"›";
    display:inline-block;
    margin:0 7px;
    pointer-events:none
}

/* Не показывать нак стрелочки после последнего слова */
nav li:last-of-type:after {
    display:none
}

/* Размер шрифта и высота строки */
p,table,ul {
    font-size:23px;
    line-height:27px;
    hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto
}


/* КОНТЕНТ В ЗАПИСИ */
/* Отступы между абзацами в параграфе */
article section p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* Отступ от подвала*/
article {
    margin-bottom:4em
}

/* Размеры картинок*/
img.small {
    max-height:270px;
    width: auto;
}

img.regular {
    max-width: 505px;
    height: auto;
}

img.medium {
    max-height:600px;
    width: auto;
}

img.large {
    max-width: 1010px;
    height: auto;
}

/* Отступ между избражениями и параграфом */  
article figure {
    padding: 0;
    margin: 26px 0 26px 0; /* !!! Изменил отступ от фигуры сверху и снизу */
    display: inline-block;
    vertical-align: top;
    max-width: 1210px;
}

/* Заголовище */ 
.h1 {
    font-size: 140px;
    line-height: 140px;
    margin-left:-8px
}

/* Отступ снизу: отталкивает вниз */ 
.header {
  margin-bottom: 1.81rem;
}

/* Колонки для почты и резюме */ 
.container-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Ссылка на резюме прижата к правому краю */ 
.resume-desktop {
    display: grid;
    justify-items: end;
}

/* Отступ строки с почтой и резюме от соц. сетей */ 
.container-social {
    margin-bottom: 1rem;
}

/* Максимальная ширина портфолио и текстов*/ 
#main{max-width:1720px}


/* ТАБЛИЦА С ПРОЕКТАМИ */ 

/* Блок с проектами на десктопе */  
.projects {
  margin-top: 4.37rem;
}

/* Отступ от заголовка Проекты */  
#title {
  margin-top: -1rem;
}


/* Список проектов */  
.project-container {
  display: grid;  
  grid-template-columns: 2fr 2fr 3fr;
  border-bottom: 0.5px solid rgba(0, 0, 0, 1.0);

  /* Отступ строки сверху */
  margin-top: 0.3rem ;
  height: 2rem;
  color: #000;
}

/* Дата проектов прижата к правому краю */
.project-date {
  display: grid;  
  justify-items: end;
}

/* Отключить подчеркивание ссылок в названиях проектов */
.link-project {
  outline: none;
  text-decoration: none;
}

/* Скрыть короткие описания проектов дату */
.project-container .project-name-mob, .project-date-mob, #short {
  display: none;
}


/* ПОРТФОЛИО*/ 

/* Отступы портфолио и расположение блоков */
#portfolio {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Параграф в описании проекта */
figcaption p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
}

/* Отступ подписи проекта от картинки */
figcaption {
    margin-top: 6px;
}

/* Размеры картинок */
img.small {
    max-height:270px;
    width: auto;
}

img.regular {
    max-width: 505px;
    height: auto;
}

img.medium {
    max-height:600px;
    width: auto;
}

img.large {
    max-width: 1010px;
    height: auto;
}

/* Отступ сбоку между блоками. Блок = картинка с подписью */
figure img {
    -ms-interpolation-mode: nearest-neighbor; /* алгоритм для сжатия картинок, для браузера ie7 и старше*/
   /*  image-rendering: pixelated; /* поддержать набор цветов и резкость для разных размеров */
    -moz-image-rendering: crisp-edges; /* поддержать первоначальный набор цветов и резкость */
    width: 100%; 
    margin-right: 5px;
    display: inline-block;
    background-color: #000;
}

/* Отступ снизу между блоками. Блок = картинка с подписью */
figure {
    padding: 0;
    margin: 1em 0 0; /* !!! Изменил отступ от фигуры сверху и снизу */
    display: inline-block;
    vertical-align: top;
    max-width: 1210px;
}

/* Отступ между двумя маленькими картинками. */
figure picture {
    font-size: 0;
}

/* ПОДВАЛ */
footer,footer p,footer ul {
    font-size:16px;
    line-height:18px;
    margin:18px 0
}

footer ul {
    list-style:none;
    padding:0
}


footer table {
    max-width:1024px;
    margin:0
}

footer table tr td:first-of-type {
    width:341px;
    padding:0 20px 0 0
}

footer table tr td:nth-of-type(2) {
    width:auto;
    padding:0
}


/* Отступ от подвала*/
article {
    margin-bottom:4em
}

/* Темная тема */
@media (prefers-color-scheme:dark) {
    body,html,p {
        background-color: #1e1e1e;
        color: #dedede;
    }

    a {
        color:#fff!important
    }

    a, h1 {
        color:#fff!important
    }

    /* Цвет линий между строками */
    div.project-container {
    border-bottom: 0.5px solid rgba(255, 255, 255, 1.0);
    }

    figcaption p,h3 {
        color: #dedede!important
    }

    /* Отступ сбоку между блоками. Блок = картинка с подписью */
    figure img {
        margin-right: 6px;
    }

}


/* На мобильных */
@media (max-width: 440px) {
        .h1 {
            font-size: 52px;
            line-height: 72px;
            margin:10px 0 10px -4px
        }
    }

@media (max-width:767px) {
 
    /* Все картинки на всю ширину экран. От края до края*/
    img.large,img.medium,img.regular,img.small {
        width: 100%;
        height: auto;
        max-height: 100%;
    }

        footer table tr td:first-of-type { 
        width:190px
    }

    h1 {
        font-size:36px;
        line-height:36px
    }

    h2 {
        font-size:30px;
        line-height:30px
    }

    .p,.p h1,.p p,p,table,ul {
        font-size: 20px;
        line-height: 24px;
    }

    /* Таблица проектов. Скрыть длинные названия */
    .project-container .project-name-desktope, .project-date {
    display: none;
    }

    /* Таблица проектов. Показать короткие названния */
    .project-container .project-name-mob, .project-date-mob {
    display: inline;
    }

    /* Таблица проектов. Стили колонок проектов */
    .project-container {
        display: grid;  
        grid-template-columns: 3fr 1fr;
        border-bottom: 0.5px solid rgba(0, 0, 0, 1.0);
        
        /* Отступ блока стекстом */
        margin-top: 0.125rem ;

        /* Высота блока с текстом */
        height: 1.7rem;
        color: #000;
    }

    /* Дата(стрелочка) прижата к правому краю */
    .project-date-mob  {
        display: grid;  
        justify-items: end;
    }
}

/* Правило для длинного названия (Микслайн) на средний экран */
@media (max-width:1440px) {

    /* Таблица проектов. Показать короткие названния */
    #short {
    display: inline;
    }

    #long {
    display: none;
    }

/* На  планшете */
@media (max-width:1180px) {

    /* Скрыть короткие описания проектов дату */
    #short {
    display: none;
    }

    /* Таблица проектов. Скрыть длинные названия */
    .project-container .project-name-desktope  {
    display: none;
    }

    /* Таблица проектов. Показать короткие названния */
    .project-container .project-name-mob {
    display: inline;
    }

    /* Таблица проектов. Стили колонок проектов */
    .project-container {
        display: grid;  
        grid-template-columns: 3fr 2fr;
        border-bottom: 0.5px solid rgba(0, 0, 0, 1.0);
        
        /* Отступ строки сверху */
        margin-top: 0.45rem ;
        height: 2rem;
        color: #000;
    }
}